{{#ifCond user.isOwner '||' user.isManager}}
  <div class="row mb-4">
    <div class="col s12 m12 l12">
        <div class="card grey lighten-4 hoverable">
            <div class="card-content">
                <div class="alert-container">
                    {{> _msg}}  
                </div>
                <span class="card-title">Edit Employee</span>
                <button class="btn grey darken-3 text-white right generalBackBtn">Back</button>
                <form action="/employees/update/{{_id}}?_method=PUT" method="post">
                    <input type="hidden" name="_method" value="PUT">
                       <div class="row mt-2">
                            <div class="input-field col s6">
                              <input type="text" name="firstName" class="validate" value="{{firstName}}" required>
                              <label for="name">First Name</label>
                            </div>
                            <div class="input-field col s6">
                              <input type="text" name="lastName" class="validate" value="{{lastName}}" required>
                              <label for="name">Last Name</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <input type="email" name="email" class="validate" value="{{email}}" required>
                                <label for="email">Email</label>
                                {{#each email_error}}
                                        <span class="helper-text red-text text-darken-3" data-error="wrong">{{text}}</span>
                                    {{else}}
                                {{/each}}
                            </div>
                            <div class="input-field col s6">
                                <input placeholder="At least 6 characters" name="password" type="password" class="validate">
                                <label for="password">Password</label>
                                <span class="helper-text">Leave blank to keep original password</span>
                                    {{#each errors}}
                                            <span class="helper-text red-text text-darken-3" data-error="wrong">{{text}}</span>
                                    {{else}}
                                    {{/each}}
                            </div>
                        </div>

                      <div class="row">
                            <div class="input-field col s6 phoneContainer">
                                <input type="tel" name="phone"  id="phone" class="validate" value="{{phone}}" required>
                                <label for="phone" class="phoneLabel">Phone Number</label>
                            </div>
                            {{#if user.isOwner}}
                                <div class="col s6">
                                    <p>Is this employee a manager?</p>
                                        <p class="mt-1">
                                            <label for="managerCheck">
                                                <input name="managerCheck" id="managerCheck" class="with-gap" type="radio" value="true"  />
                                                <span>Yes</span>
                                            </label>
                                            <label class="ml-2" for="managerCheck1">
                                                <input name="managerCheck" id="managerCheck1" class="with-gap" value="false"  type="radio" checked />
                                                <span>No</span>
                                            </label>
                                        </p>
                                </div>  
                            {{/if}}
                      </div>

                    <div class="card-action mt-2 mb-3">
                            <div class="row mb-2">
                                <div class="col l6">
                                    <div class="input-field col s12">
                                        <input type="text" name="storeName" class="validate storeName mb-2" value="{{employeeStore.storeName}}" disabled>
                                    <label for="name">Employee Store</label>
                                    </div>
                                    <div class="input-field col s12">
                                        <select name="employeeDepartment" class=" mb-2 employeeDepartment" id="employeeDepartment">
                                        <option value="" disabled>Choose Department</option>
                                        {{#each allDepartments}}
                                            {{#ifCond employeeDepartment._id '==' _id}}
                                                <option value="{{_id}}" selected>{{departmentName}}</option> 
                                            {{else}}
                                                <option value="{{_id}}">{{departmentName}}</option> 
                                            {{/ifCond}}    
                                        {{/each}}
                                        </select>
                                        <label>What department should this employee be assigned to?</label>
                                    </div>
                                    <div class="input-field col s12" id="salaryDiv">
                                        <input type="number" name="salaryPay" class="validate" value="{{salaryPay}}" >
                                        <label for="salaryPay">Salary</label>
                                    </div>
                                </div>
                                <div class="col l6">
                                    <div class="col s12 mb-2">
                                        <p>Employment Status</p>
                                            <p class="mt-1">
                                                <label for="partTime">
                                                    <input name="employmentStatus" id="partTime" class="partTime employmentStatus with-gap mb-2" value="partTime" type="radio"  />
                                                    <span>Part-time</span>
                                                </label>
                                                <label class="ml-2" for="fullTime">
                                                    <input name="employmentStatus" id="fullTime" class="fullTime employmentStatus with-gap mb-2" value="fullTime"  type="radio" />
                                                    <span>Full-time</span>
                                                </label>
                                                <label class="ml-2" for="internship">
                                                    <input name="employmentStatus" id="internship" class="internship employmentStatus with-gap mb-2" value="internship"  type="radio" />
                                                    <span>Internship</span>
                                                </label>
                                                <label class="ml-2" for="terminated">
                                                    <input name="employmentStatus" id="terminated" class="terminated employmentStatus with-gap mb-2" value="terminated"  type="radio" />
                                                    <span>Terminated</span>
                                                </label>
                                            </p>
                                        </div>
                                        

                                        <div class="input-field col s12">
                                            <input type="text" id="hireDate" name="hireDate" class="datepicker" value="{{hireDate}}"> 
                                            <label for="hireDate">Hire Date</label> 
                                        </div>
                                        <div class="input-field col s12" id="hourlyDiv">
                                            <input type="number" name="hourlyPay" class="validate" step=".01" value="{{hourlyPay}}">
                                            <label for="hourlyPay">Hourly Pay</label>
                                        </div>
                                        
                                </div>
                            </div>
                            <input type="hidden" name="businessID" value="{{businessID}}">
                            <input type="hidden" name="_id" value="{{_id}}">
                        <button class="btn waves-effect waves-light btn-block  light-blue darken-2" type="submit">Update Employee</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{{/ifCond}}