{{#ifCond user.isOwner '||' user.isManager}}
    <div class="row mt-4 mb-4">
        <div class="col s12 m8 l12 offset-m2">
            <div class="card grey lighten-4 hoverable"> 
                <div class="card-content">
                    <div class="alert-container">
                        {{> _msg}}  
                    </div>
                    <span class="card-title mb-3">Corporate Business Profile</span>
                    <form method="POST" action="/account/business-profile" enctype="multipart/form-data">
                       <div class="row">
                           <div class="col l6">
                                <div class="file-field input-field">
                                    <div class="btn  light-blue darken-2">
                                        <span>Logo Upload</span>
                                        <input type="file" id="image" name="businessImage" accept="image/*">
                                    </div>
                                    <div class="file-path-wrapper">
                                        <input class="file-path validate" type="text">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input type="text" name="businessName" class="validate businessName" value="{{businessName}}" required>
                                        <label for="businessName">Corporation Name</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s6">
                                        <input type="email" name="businessEmail" class="validate businessEmail" value="{{businessEmail}}" required>
                                        <label for="businessEmail">Email</label>
                                    </div>
                                    <div class="input-field col s6 phoneContainer">
                                        <input id="phone" type="tel" name="businessPhone" class="validate businessPhone" value="{{full_phone}}"   required>
                                        <label for="phone" class="phoneLabel">Phone Number</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s6">
                                        <input type="text" name="businessAddress" class="validate businessAddress" value="{{businessAddress}}" required>
                                        <label for="businessAddress">Address</label>
                                    </div>
                                    <div class="input-field col s6">
                                        <input type="text" name="businessCity" class="validate businessCity" value="{{businessCity}}" required>
                                        <label for="businessCity">City</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s6">
                                        <input type="text" name="businessState" id="businessState" class="states" value="{{businessState}}" required>
                                        <label for="businessState">State</label>
                                    </div>
                                    <div class="input-field col s6">
                                        <input type="number" name="businessZip" class="validate businessZip" value="{{businessZip}}" required>
                                        <label for="businessZip">Zip Code</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input type="number" name="businessTaxRate" class="validate taxRate" step=".01" value="{{businessTaxRate}}">
                                        <label for="taxRate">Tax Rate</label>
                                    </div>
                                </div>       
                           </div>
                           <div class="col l6">
                               <div class="row termsRow">
                                    <div class="input-field col s12">
                                       <p class="=termsLabel">Invoice Terms and Conditions</p>
                                       <textarea name="businessTerms" id="" cols="30" rows="8" class="businessTerms" value="{{businessTerms}}"></textarea>
                                    </div>
                                </div>
                           </div>
                       </div>
                        
                        {{#if user.isOwner}}
                            <div class="card-action">
                                <button class="btn waves-effect waves-light  light-blue darken-2 btn-block" type="submit">SAVE BUSINESS PROFILE</button>
                            </div>
                        {{/if}}
                    </form>
                </div>
            </div>    
        </div>
    </div>    
{{/ifCond}}