
<div class="registerHero">
  <div class="row">
    <div class="col s12 m8 l4 offset-m2 offset-l4">
        <div class="card grey lighten-4 hoverable mt-4 mb-4">
            <div class="card-content">
                <div class="alert-container">
                {{> _msg}}  
              </div>
                <span class="card-title">Create Account</span>
                <form action="/auth/register" method="post">
                       <div class="row">
                            <div class="input-field col s6">
                              <input type="text" name="firstName" class="validate" value="{{firstName}}" required>
                              <label for="name">First Name</label>
                            </div>
                            <div class="input-field col s6">
                              <input type="text" name="lastName" class="validate" value="{{lastName}}" required>
                              <label for="name">Last Name</label>
                            </div>
                        </div>

                      <div class="row">
                        <div class="input-field col s12">
                          <input type="email" name="email" class="validate" value="{{email}}" required>
                          <label for="email">Email</label>
                          {{#each email_error}}
                                  <span class="helper-text red-text text-darken-3" data-error="wrong">{{text}}</span>
                            {{else}}
                          {{/each}}
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s12">
                          <input placeholder="At least 6 characters" name="password" type="password" class="validate" value="{{password}}" required>
                          <label for="password">Password</label>
                          {{#each errors}}
                                <span class="helper-text red-text text-darken-3" data-error="wrong">{{text}}</span>
                          {{else}}
                          {{/each}}
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s12">
                          <input type="password" name="password2" class="validate" value="{{password2}}">
                          <label for="password2">Re-enter Password</label>
                        </div>
                      </div>
                      <span class="card-title">Billing Details</span>
                      <div class="row">
                          <div class="input-field col s12">
                              <input type="text" name="billingAddress" class="validate billingAddress" value="{{billingAddress}}" required>
                              <label for="billingAddress">Address</label>
                          </div>
                          
                      </div>
                      <div class="row">
                          <div class="input-field col s6">
                              <input type="text" name="billingCity" class="validate billingCity" value="{{billingCity}}" required>
                              <label for="billingCity">City</label>
                          </div>
                          <div class="input-field col s6">
                              <input type="text" id="billingState" name="billingState" class="states" value="{{billingState}}" required>
                              <label for="billingState">State</label>
                          </div>
                      </div>
                      <div class="row">
                          <div class="input-field col s6">
                              <input type="number" name="billingZip" class="validate billingZip" value="{{billingZip}}" required>
                              <label for="billingZip">Zip Code</label>
                          </div>
                          <div class="input-field col s6 phoneContainer">
                              <input type="tel" name="phone" class="validate" id="phone" value="{{phone}}" required>
                              <label for="phone" class="phoneLabel">Phone Number</label>
                            </div>
                      </div>
                      <button class="btn waves-effect waves-light btn-block  light-blue darken-2 mt-2" type="submit">Register</button>
                </form>
                <p class="center-align  ">Already have an account? <a href="/auth/login" class=" light-blue-text text-darken-3">Sign in<i class="material-icons playArrow">play_arrow</i></a></p>
            </div>
        </div>
    </div>
</div>
</div>